<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> AdonisJS - A fully featured web framework for Node.js </title>

  @vite(['src/core/resources/css/app.css', 'src/core/resources/js/app.js'])
</head>
<body>

  @eval(await auth.check())

  <div class="min-h-screen hero bg-base-200">
    <div class="text-center hero-content">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">
          Hello
          @if(auth.isAuthenticated)~
            ,<br />{{ auth.user.fullname }}
          @end~
        </h1>
        <p class="py-6">
          This starter kit uses : <br />
          <a href="https://adonis-attachment.jrmc.dev" target="_blank" class="link">@jrmc/adonis-attachment</a>, <br />
          <a href="https://github.com/batosai/adonis-unpoly" target="_blank" class="link">@jrmc/adonis-unpoly</a> and  <br />
          <a href="https://edge-components.jrmc.dev" target="_blank" class="link">@jrmc/edge-components</a>,  <br />
          which I developed to simplify its setup.
        </p>

        <p class="my-8">Help or discution : <a href="https://discord.gg/89eMn2vB" target="_blank" class="link">Discord</a></p>


        @if(auth.isAuthenticated)
          @if(session.has('originalUserId'))
            @jrmc.form({ action: route('impersonate.destroy', { qs: { _method: 'DELETE' }}) })
              @!jrmc.button({ text: 'Stop impersonate', class: 'btn-primary' })
            @end
          @else
            @jrmc.form({action: route('auth.session.destroy')})
              @!jrmc.button({ text: 'Logout', class: 'btn-primary' })
            @end
          @end
        @else
          <a href="{{ route('auth.session.create') }}" class="btn btn-primary">Login</a>
        @end

      </div>
    </div>
  </div>

  @!notifications()


</body>
</html>
