<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> AdonisJS - A fully featured web framework for Node.js </title>

  @vite(['src/core/resources/css/app.css', 'src/core/resources/js/app.js'])
</head>
<body>

  <div class="grid justify-center grid-rows-1 gap-4">

    @eval(await auth.check())

    @if(auth.isAuthenticated)

      <div>
        {{ auth.user.fullname }}
      </div>

      @if(session.has('originalUserId'))
        @jrmc.form({ action: route('impersonate.destroy', { qs: { _method: 'DELETE' }}) })
          @!jrmc.button({ text: 'Stop impersonate' })
        @end
      @else
        @jrmc.form({action: route('auth.session.destroy')})
          @!jrmc.button({ text: 'Logout' })
        @end
      @end
    @else
      <a href="{{ route('auth.session.create') }}" class="btn">Login</a>
    @end

    @!notifications()

  </div>

</body>
</html>
