<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> AdonisJS - A fully featured web framework for Node.js </title>

  @vite(['src/core/resources/css/app.css', 'src/core/resources/js/app.js'])
</head>
<body>

  <div class="flex justify-center">

    @eval(await auth.check())

    @if(auth.isAuthenticated)
      @jrmc.form({action: route('auth.session.destroy')})
        @!jrmc.button({ text: 'Logout' })
      @end
    @else
      <a href="{{ route('auth.session.create') }}" class="btn">Login</a>
    @end

  </div>

</body>
</html>
